:root {
  --white: #ffffff;
  --black: #26273b;
  --greyDark: #454560;
  --greyLight: #d6d6e1;
  --greyLightest: #f0f0f5;
  --grey: #acadc1;
  --negative: #fd4d67;
  --positive: #00cfae;
  --primary: #8d57ff;
}

/* Texts */
.text-black {
  color: var(--black);
}

.text-greyDark {
  color: var(--greyDark);
}

.text-grey {
  color: var(--grey);
}

.text-greyLight {
  color: var(--greyLight);
}

.text-positive {
  color: var(--positive);
}

.text-negative {
  color: var(--negative);
}

/* Backgrounds */

.bg-greyLightest {
  background-color: var(--greyLightest);
}

.bg-white {
  background-color: var(--white);
}
