/*
  Direction
*/
.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

/*
  Wrap
*/
.wrap {
  flex-wrap: wrap;
}

/*
  Grow
*/
.grow-1 {
  flex-grow: 1;
}
<<<<<<< HEAD

/* Justify content */
.justify-between {
  justify-content: space-between;
}
=======
>>>>>>> :wrench: added git hookst to workflow
