*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

html {
  font-size: 18px;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  font-size: 1rem;
}

canvas {
  flex-grow: 1;
  touch-action: none;
}